*,
*::before,
*::after {
box-sizing: border-box;
}

html {
block-size: 100%;
}

fieldset {
border: none;
}

:root {
--white: #fff;
--black: #000;
--gray: #545050;

--m-xl: 32px;
/* margin размерв*/
--m-l: 30px;
--m-m: 26px;
--m-s: 16px;
--m-xs: 6px;
--m-xxs: 5px;
}

.page {
display: flex;
align-items: center;
justify-content: center;
inline-size: 1200px;
block-size: 100%;
margin: auto;
color: #fff;
font-family: 'Fira Sans Condensed', sans-serif;
font-size: 18px;
background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
margin: 0;
padding: 0;
}

ul,
ol {
list-style: none;
}

.button {
cursor: pointer;
background-color: transparent;
color: white;
border: 1px solid var(--white);
padding: 5px 67px;
font-family: "Fira Sans Condensed";
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}

.visually-hidden {
position: absolute;
inline-size: 1px;
block-size: 1px;
overflow: hidden;
clip: rect(0 0 0 0);
clip-path: inset(50%);
white-space: nowrap;
}

.content {
display: flex;
column-gap: 30px;
/* min-width: 1140px;
min-height: 534px; */
/* margin: 0 auto; */
}

.search-form {
display: flex;
justify-content: space-between;
align-items: flex-end;
margin-top: var(--m-s);
}

.content__list {
position: relative;
height: 298px;
overflow-y: auto;
}

.content__list-item:not(:last-child) {
margin-top: var(--m-l);
}

.content__details {
width: 36%;
margin-top: auto;
}

.result {
width: 64%;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.result__video {
width: 100%;
}

.result__video-container {
position: relative;
width: 711px;
height: 386px ;
/* width: 100%;
height: 100%; */
margin-bottom: var(--m-s);
}

.content__video-card{
display: flex;
}

.content__video-card-description-container {
width: 50.25%;
}

.content__video-card-thumbnail {
/* width: 48.75%; */
width: 194px;
height: 103px;
object-fit: cover;
}

.content__video-card-title {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-family: "Oswald";
font-size: 30px;
font-weight: 700;
line-height: calc(30 / 30 + 100%);
color: var(--white);
}

.content__video-card-description {
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
hyphens: auto;
}

.content__list::-webkit-scrollbar {
width: 0;
}


.search-form__textfield {
  width: 255px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  appearance: none;
font-family: Fira Sans Condensed;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: left;
cursor: pointer;
margin-left: 0 !important;
}


/*3&&&*/
.search-form__textfield:focus {
  margin: 2px;
  outline: none;
  }

 .button:focus-visible {
  outline: 1px solid var(--white);
  outline-offset: 1px;
  } 

  /**/

.search-form__checkbox-list {
display: flex;
}

.search-form__label {
display: flex;
flex-direction: row;
width: fit-content;
appearance: none;
justify-content: center;
align-items: center;
column-gap: var(--m-xxs);
}


.search-form__label:not(:first-child) {
margin-top: 5px;  
margin-left: var(--m-s);
}



.search-form__pseudo-checkbox {
width: 19px;
height: 19px;
border: 1px solid var(--white);
}

.search-form__pseudo-checkbox {
display: inline-flex;
justify-content: center;
align-items: center;

}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
content: '';
width: calc(100% - 2px);
height: calc(100% - 2px);
background-color: var(--white);
}

/* .button {
background-color: transparent;
color: white;
border: 1px solid var(--white);
} */

/* border-top: 1px solid white;
border-bottom: 1px solid white; */

.button:focus {
margin: 2px;
outline: none;
}

.button:focus-visible {
outline: 1px solid var(--white);
outline-offset: 1px;
}

.more-button {
  background-color: transparent;
width: 100%;
padding-top: var(--m-xs);
margin-top: var(--m-l);
color: rgb(255, 255, 255);
}

/*??????????*/

.result__video-container {
position: relative;
width: 711px;
height: 386px;
}

/* шрифты */

.search-form__fieldset-title {
font-family: "Fira Sans Condensed";
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: left;
}

.title {
font-family: "Oswald";
font-size: 75px;
font-weight: 700;
line-height: 94%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
margin-bottom: var(--m-m);
}

.content__accent{
color: rgb(84, 80, 80);
}

.content__card-link {
text-decoration: none;
color: var(--white)
}

.content__card-link:active {
  background-color: #545050;
}

/*&&&&&&&&&&&&*/